*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 31.25rem;
  height: 27rem;
  border: 1px solid black;
  margin: 5rem;
  border-radius: 0.5rem;
  background-color: gray;
}
.screen_caculator{
  border: 1px solid black;
margin: 1.25rem;
height: 5rem;
border-radius: 0.5rem;
background-color: aqua;
display: flex;
justify-content: end;
align-items: center;
padding-right: 1rem;
}
.screen_caculator span{
  font-size: 2rem;
}
.button_caculator{
  background-color: black;
  margin:1rem 1.2rem 0 2rem;
  border-radius: 0.3rem;
  text-align: center;
  padding-top:0.6rem ;
  border: none;
}
.button_caculator span{
  font-size: 1.2rem;
  color: white;
  text-align: center;
}
.caculator_button{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
.button_caculator:nth-child(26){
  grid-column: span 2 ;
}
.button_caculator:nth-child(25) {
  grid-row: span 2 ;
}