section{
    margin: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-areas:
    "top top top top"
    "card section section  box"
    "cards section section  boxs"
    "cards section section  boxs"
    "footer footer footer footer"
    ;
}
header{
    height: 200px;
    grid-area: top;
    background-color: red;
}
.card{
background-color: black;    
grid-area: card;
}
.cards{
    background-color: khaki;    
    grid-area: cards;
    }
aside{
 background-color: blue;   
 grid-area: section;
}
.box{
    grid-area: box;
    background-color: brown;
}
.boxs{
    grid-area: boxs;
    background-color: rgb(130, 161, 98);
}
footer{
    height: 200px;
    grid-area: footer;
    background-color: aqua;
}